<!--navigation with add user button-->
<div class="row">
  <div class="col-1-of-2">
    <div class="secondary-color uppercase">
      users
    </div>
  </div>
  <div class="col-1-of-2 text-right">
    <button type="button" (click)="onAddUser()" class="btn btn-add-zone">
      <i class="fa fa-plus"></i> Add User
    </button>
  </div>
</div>

<!--users table-->
<div class="fixed-panel">
  <table class="table table--no-bordered" *ngIf="userList.length > 0">
    <thead>
    <tr>
      <th width="15%">Sr. No</th>
      <th width="25%">Name</th>
      <th width="20%">Device Assigned Name</th>
      <!--<th width="10%">Date</th>-->
      <!--<th width="12%">Mobile no</th>-->
      <!--<th width="10%">Blood Group</th>-->
      <!--<th width="10%">Contact no</th>-->
      <th width="40%">Zone Assigned</th>
      <!--<th width="10%">Actions</th>-->
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let users of userList; let i = index">
      <td>{{i + 1}}</td>
      <td class="capitalize">{{users?.firstName + " "+ users?.lastName}}</td>
      <td>{{users?.deviceName}}</td>
      <!--<td>20/04/2017</td>-->
      <!--<td>97255 44554</td>-->
      <!--<td>O+</td>-->
      <!--<td>227443</td>-->
      <td>{{users?.zoneName}}</td>
      <!--<td>-->
        <!--<div class="inline-block MR15">-->
          <!--<a (click)="onShowDeleteModal('deleteModal')" data-toggle="tooltip" title="Delete">-->
            <!--<i class="fa fa-trash"></i>-->
          <!--</a>-->
        <!--</div>-->

        <!--<div class="inline-block vertical-top">-->
          <!--<label class="switch">-->
            <!--<input checked="" type="checkbox">-->
            <!--<span class="switch__slider"></span>-->
          <!--</label>-->
        <!--</div>-->
      <!--</td>-->
    </tr>
    </tbody>
  </table>
  <div *ngIf="userList.length == 0" class="loading-data">
    <div>{{loadingMessage}}</div>
  </div>
</div>
<div class="pagination">
  <div *ngIf="userList.length > 0 &&  totalRecords > pageDefaultSize">
    <mat-paginator [length]="totalRecords"
                   [pageSize]="pageSize"
                   [pageSizeOptions]="pageArray"
                   (page)="onPageChange($event)">
    </mat-paginator>
  </div>
</div>


<!--Delete confirmation html-->
<div *ngIf="isDeleteModal" id="deleteModal" class="modal">
  <div class="modal__close">
    <a (click)="onCloseModal()"> <i class="fa fa-close"></i> </a>
  </div>

  <div class="modal__header">
    <h3>DELETE</h3>
  </div>

  <div class="modal__body">
    <div class="text-center MB30">
      <h3>Are you sure want to delete user?</h3>
    </div>

    <div class="text-center">
      <button focus type="button" class="btn btn-primary MR10">Yes</button>
      <button type="button" class="btn btn-flat">No</button>
    </div>
  </div>
</div>

<!--close black layer section-->
<div (click)="onCloseModal()" *ngIf="isDeleteModal" class="modal-layer"></div>
