<!--breadcrumb-->
<div class="secondary-color uppercase MB10">
  <a (click)="onUserGrid()">users > </a> <span class="light-grey-color">Add</span>
</div>

<!--users form-->
<div class="white-background">
  <form [formGroup]="userForm" (submit)="onUserSubmit(userForm.value, userForm.valid)">
    <div class="row">
      <div class="col-1-of-3">
        <div class="basic-input basic-input-border">
          <input type="text" focus formControlName="firstName"/>
          <label class="required">First Name</label>
          <div class="validation-group">
            <validation *ngIf="isRequiredField(userForm.get('firstName'))"
                        [errMsg]="validationMsg.FIRST_NAME_REQUIRED"></validation>
            <validation *ngIf="isValidLength(userForm.get('firstName'))"
                        [errMsg]="validationMsg.FIRST_NAME_LENGTH"></validation>
            <validation *ngIf="isValidField(userForm.get('firstName'))"
                        [errMsg]="validationMsg.FIRST_NAME_VALID"></validation>
          </div>
        </div>
      </div>

      <div class="col-1-of-3">
        <div class="basic-input basic-input-border">
          <input type="text" formControlName="lastName"/>
          <label class="required">Last Name</label>
          <div class="validation-group">
            <validation *ngIf="isRequiredField(userForm.get('lastName'))"
                        [errMsg]="validationMsg.LAST_NAME_REQUIRED"></validation>
            <validation *ngIf="isValidLength(userForm.get('lastName'))"
                        [errMsg]="validationMsg.LAST_NAME_LENGTH"></validation>
            <validation *ngIf="isValidField(userForm.get('lastName'))"
                        [errMsg]="validationMsg.LAST_NAME_VALID"></validation>
          </div>
        </div>
      </div>

      <div class="col-1-of-3">
        <div class="basic-input basic-input-border">
          <input [readonly]="true" type="text" formControlName="date" (click)="picker.open()" [matDatepicker]="picker">
          <label class="required">Date of Assign</label>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>

          <div class="validation-group">
            <validation *ngIf="isRequiredField(userForm.get('date'))"
                        [errMsg]="validationMsg.DATE_REQUIRED"></validation>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-1-of-3">
        <div class="basic-input basic-input-border">
          <input type="text" formControlName="department"/>
          <label>Department</label></div>
      </div>

      <div class="col-1-of-3">
        <div class="basic-select basic-select-border">
          <span class="basic-select__bg"></span>
          <select formControlName="deviceId">
            <option value="" disabled>Select Device</option>
            <option *ngFor="let device of deviceList" [value]="device?.id">{{device?.name}}</option>
          </select>
          <label>Device Name</label>
        </div>
      </div>

      <div class="col-1-of-3">
        <div class="basic-select basic-select-border">
          <span class="basic-select__bg"></span>
          <select formControlName="zoneId">
            <option value="" disabled>Select Zone</option>
            <option *ngFor="let zone of zoneList" [value]="zone?.id">{{zone?.name}}</option>
          </select>
          <label>Zone</label>
        </div>
      </div>

      <!--<div class="col-1-of-3">
        <div class="basic-input basic-input-border">
          <input type="text" formControlName="contactNo"/>
          <label>Emergency Contact No</label></div>
      </div>-->
    </div>

    <div class="row">

      <!--<div class="col-1-of-3">
        <div class="basic-input basic-input-border">
          <input type="text" formControlName="bloodGroup"/>
          <label>Blood Group</label></div>
      </div>-->
    </div>

    <div class="row">
      <button [disabled]="userForm.invalid" class="btn btn-primary" type="submit">Submit</button>
      <button (click)="onUserGrid()" class="btn btn-flat ML15" type="button">Cancel</button>
    </div>
  </form>
</div>
