.inner-loader {
  display: inline;
  position: fixed;
  top: 0;
  z-index: 9999999 !important;
  width: 100%;
  text-align: center;
  height: 100%;
  background-color: rgba(243, 243, 243, 0.6);
  left: 0;
  padding-top: 18%; }

.inner-loader span {
  font-size: 16px;
  font-weight: bold;
  color: #000; }

.inner-loader span img {
  width: 60px; }

.white-fixed-layer {
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0);
  z-index: 9999 !important; }

/*# sourceMappingURL=progress-hud.component.css.map */
