<div class="login-box">
  <div class="login-box__image">
    <img src="assets/images/logo.png" alt="">
  </div>
  <form [formGroup]="loginForm" (submit)="onLoginFormSubmit(loginForm.value,loginForm.valid)">
    <div class="login-bg-white">
      <h1 class="primary-color text-center MB20">Welcome!</h1>
      <div class="login-box__body">
        <div class="basic-input basic-input-border no-label icons-group">
          <i class="fa fa-user"></i>
          <input formControlName="userName" focus placeholder="Username" type="text">
          <div class="validation-group">
            <validation *ngIf="isRequiredField(loginForm.get('userName'))"
                        [errMsg]="validationMsg.USERNAME_REQUIRED"></validation>
            <validation *ngIf="isValidField(loginForm.get('userName'))"
                        [errMsg]="validationMsg.USERNAME_NOT_VALID"></validation>
            <validation *ngIf="isValidLength(loginForm.get('userName'))"
                        [errMsg]="validationMsg.USERNAME_LENGTH"></validation>
          </div>
        </div>
        <div class="basic-input basic-input-border no-label icons-group">
          <i class="fa fa-lock"></i>
          <input formControlName="password" placeholder="Password" type="password">
          <div class="validation-group">
            <validation *ngIf="isRequiredField(loginForm.get('password'))"
                        [errMsg]="validationMsg.PASSWORD_REQUIRED"></validation>
            <validation *ngIf="isValidField(loginForm.get('password'))"
                        [errMsg]="validationMsg.PASSWORD_VALID"></validation>
            <validation *ngIf="isValidLength(loginForm.get('password'))"
                        [errMsg]="validationMsg.PASSWORD_LENGTH"></validation>
          </div>
        </div>
      </div>
      <div class="login-box__footer">
        <div>
          <button [disabled]="loginForm.invalid" type="submit" class="btn-primary btn btn-block">Login</button>
        </div>
      </div>
    </div>
  </form>
  <div class="text-center MT15">
    <span class="dark-grey-color copyright">Copyright &copy; 2018 smartsensesolutions.com</span>
  </div>
</div>
<div class="login-bg"></div>
