div.dropdown {
  z-index: z('DROPDOWN');
  @include box-shadow;
  @include position-values(fixed, $header-size, calc(100% - 18rem), auto, 17rem, $white-color);

  ul {
    padding: 1rem;
    li {
      display: block;
      text-align: left;
      a {
        color: $dark-grey-color-1;
        display: block;
        padding: .6rem;
        font-size: 1.6rem;
        line-height: 2.6rem;
        &:hover {
          color: $primary-color;
        }
      }
    }
  }
}
