.stepper {

  &__head {
    ul {
      li {
        text-align: center;
        position: relative;
        width: calc(33.33% - 0.4rem);

        a {
          color: $dark-grey-color-1;
          display: inline-block;

          &:hover, &.active {
            color: $primary-color;
          }

          &.active {
            .stepper__icon {
              background: $primary-color;
              color: $white-color;
            }
          }
        }

        &:after {
          z-index: z('MINUS-ONE');
          @include position-values(absolute, 2rem, calc(50% + #{$width-stepper/2}), .1rem, calc(100% - #{$width-stepper}), $light-grey-color-1);
          content: '';
        }

        &:last-child {
          &:after {
            display: none;
          }
        }

        &.active {
          &:after {
            background: $primary-color;
          }
        }
      }
    }

    &__icon {
      background: $light-grey-color-1;
      line-height: $stepper-icon-size !important;

      @include height-width($stepper-icon-size, $stepper-icon-size);
      display: block !important;
      text-align: center;
      border-radius: 2rem;
      margin: 0 auto;
    }
  }

  &__body {

  }
}
