<!--navigation with add zone button-->
<div class="row">
  <div class="col-1-of-2">
    <div class="secondary-color uppercase">
      zones
    </div>
  </div>
  <div class="col-1-of-2 text-right">
    <button type="button" (click)="onShowAddZone('addZone')" class="btn btn-add-zone">
      <i class="fa fa-plus"></i> Add Zone
    </button>
  </div>
</div>

<!--zone grid-->
<div class="fixed-panel">
  <table class="table table--no-bordered" *ngIf="zoneList.length > 0">
    <thead>
    <tr>
      <th width="15%">Sr. No</th>
      <th width="25%">Zone Name</th>
      <th width="60%">MAC Address</th>
      <!--<th width="15%">Nearby Device Name</th>-->
      <!--<th width="20%">Time</th>-->
      <!--<th width="15%">From Date</th>-->
      <!--<th width="15%">To Date</th>-->
      <!--<th width="10%">Actions</th>-->
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let zone of zoneList; let i = index">
      <td>{{i + 1}}</td>
      <td>
        <a class="underline" (click)="onZoneDetails(zone)">{{zone?.name}}</a>
      </td>
      <td>{{zone?.macAddress}}</td>
      <!--<td>Device {{i}}</td>-->
      <!--<td>10:00AM to 02:45PM</td>-->
      <!--<td>25/12/2017</td>-->
      <!--<td>28/12/2017</td>-->
      <!--<td>-->
      <!--<label class="switch">-->
      <!--<input checked="" type="checkbox">-->
      <!--<span class="switch__slider"></span>-->
      <!--</label>-->
      <!--</td>-->
    </tr>
    </tbody>
  </table>
  <div class="loading-data" *ngIf="zoneList.length == 0">
    <div>{{loadingMessage}}</div>
  </div>
</div>
<div class="pagination">
  <div *ngIf="zoneList.length > 0 &&  totalRecords > pageDefaultSize">
    <mat-paginator [length]="totalRecords"
                   [pageSize]="pageSize"
                   [pageSizeOptions]="pageArray"
                   (page)="onPageChange($event)">
    </mat-paginator>
  </div>
</div>

<!--Add zone html-->
<div *ngIf="isAddZone" id="addZone" class="modal">
  <div class="modal__close">
    <a (click)="onCloseModal()"> <i class="fa fa-close"></i> </a>
  </div>

  <div class="modal__header">
    <h3>ADD ZONE NAME</h3>
  </div>

  <form [formGroup]="addZoneForm" (submit)="onZoneSubmit(addZoneForm.value,addZoneForm.valid)">
    <div class="modal__body">
      <div>
        <div class="col-1-of-3">
          <div class="basic-input basic-input-border">
            <input focus type="text" formControlName="name"/>
            <label class="required">Zone name</label>
            <div class="validation-group">
              <validation *ngIf="isRequiredField(addZoneForm.get('name'))"
                          [errMsg]="validationMsg.NAME_REQUIRED"></validation>
              <validation *ngIf="isValidLength(addZoneForm.get('name'))"
                          [errMsg]="validationMsg.ZONE_NAME_LENGTH"></validation>
              <validation *ngIf="isValidField(addZoneForm.get('name'))"
                          [errMsg]="validationMsg.ZONE_NAME_VALID"></validation>
            </div>
          </div>
        </div>

        <div class="col-1-of-3">
          <div class="basic-input basic-input-border">
            <input type="text" formControlName="macAddress"/>
            <label class="required">Mac Address</label>
            <div class="validation-group">
              <validation *ngIf="isRequiredField(addZoneForm.get('macAddress'))"
                          [errMsg]="validationMsg.MAC_ADDRESS_REQUIRED"></validation>
              <!--<validation *ngIf="isValidField(addZoneForm.get('macAddress'))"-->
                          <!--[errMsg]="validationMsg.MAC_ADDRESS_VALID"></validation>-->
            </div>
          </div>
        </div>
      </div>

      <div class="text-center">
        <button [disabled]="addZoneForm.invalid" type="submit" class="btn btn-primary">ADD</button>
      </div>
    </div>
  </form>
</div>

<!--close black layer section-->
<div (click)="onCloseModal()" *ngIf="isAddZone" class="modal-layer"></div>
