<!--breadcrumb-->
<div class="row">
  <div class="col-1-of-2">
    <div class="secondary-color uppercase">devices</div>
  </div>

  <div class="col-1-of-2 text-right">
    <button type="button" (click)="onShowAddDevice('addDevice')" class="btn btn-add-zone">
      <i class="fa fa-plus"></i> Add Device
    </button>
  </div>
</div>

<!--device grid-->
<div class="fixed-panel">
  <table class="table table--no-bordered" *ngIf="deviceList.length > 0">
    <thead>
    <tr>
      <th width="15%">Sr. No</th>
      <th width="25%">Device Name</th>
      <th width="60%">MAC Address</th>
      <!--<th width="20%">Zone name</th>-->
      <!--<th width="20%">Assignee Name</th>-->
      <!--<th width="15%">Assignee Date</th>-->
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let device of deviceList; let i = index">
      <td>{{i + 1}}</td>
      <td>
        <a class="underline" (click)="onDeviceDetails(device)">{{device?.name}}</a>
      </td>
      <td>{{device?.macAddress}}</td>
      <!--<td>Zone 1</td>-->
      <!--<td>Mita Pabari</td>-->
      <!--<td>25/12/2017</td>-->
    </tr>
    </tbody>
  </table>
  <div *ngIf="deviceList.length == 0" class="loading-data">
    <div>{{loadingMessage}}</div>
  </div>
</div>
<div class="pagination">
  <div *ngIf="deviceList.length > 0 &&  totalRecords > pageDefaultSize">
    <mat-paginator [length]="totalRecords"
                   [pageSize]="pageSize"
                   [pageSizeOptions]="pageArray"
                   (page)="onPageChange($event)">
    </mat-paginator>
  </div>
</div>


<!--Add device html-->
<div *ngIf="isAddDevice" id="addDevice" class="modal">
  <div class="modal__close">
    <a (click)="onCloseModal()"> <i class="fa fa-close"></i> </a>
  </div>

  <div class="modal__header">
    <h3>ADD DEVICE NAME</h3>
  </div>

  <form [formGroup]="addDeviceForm" (submit)="onDeviceSubmit(addDeviceForm.value,addDeviceForm.valid)">
    <div class="modal__body">
      <div>
        <div class="col-1-of-3">
          <div class="basic-input basic-input-border">
            <input focus type="text" formControlName="name"/>
            <label class="required">Device name</label>
            <div class="validation-group">
              <validation *ngIf="isRequiredField(addDeviceForm.get('name'))"
                          [errMsg]="validationMsg.NAME_REQUIRED"></validation>
              <validation *ngIf="isValidLength(addDeviceForm.get('name'))"
                          [errMsg]="validationMsg.DEVICE_NAME_LENGTH"></validation>
              <validation *ngIf="isValidField(addDeviceForm.get('name'))"
                          [errMsg]="validationMsg.DEVICE_NAME_VALID"></validation>
            </div>
          </div>
        </div>

        <div class="col-1-of-3">
          <div class="basic-input basic-input-border">
            <input type="text" formControlName="macAddress"/>
            <label class="required">Mac Address</label>
            <div class="validation-group">
              <validation *ngIf="isRequiredField(addDeviceForm.get('macAddress'))"
                          [errMsg]="validationMsg.MAC_ADDRESS_REQUIRED"></validation>
              <!--<validation *ngIf="isValidField(addDeviceForm.get('macAddress'))"-->
                          <!--[errMsg]="validationMsg.MAC_ADDRESS_VALID"></validation>-->
            </div>
          </div>
        </div>
      </div>

      <div class="text-center">
        <button [disabled]="addDeviceForm.invalid" type="submit" class="btn btn-primary">ADD</button>
      </div>
    </div>
  </form>
</div>

<!--close black layer section-->
<div (click)="onCloseModal()" *ngIf="isAddDevice" class="modal-layer"></div>
