<!--breadcrumb-->
<div class="row">
  <div class="col-1-of-2">
    <div class="secondary-color uppercase"><a (click)="onZone()">zone</a> > <span
      class="light-grey-color">{{selectedZone?.name}}</span></div>
  </div>
</div>

<!--device grid-->
<div class="fixed-panel">
  <table class="table table--no-bordered" *ngIf="zoneNeightbourList.length > 0">
    <thead>
    <tr>
      <th width="10%">Sr. No</th>
      <th width="16%">Device Name</th>
      <th width="25%">Zone Mac address</th>
      <th width="15%">Name</th>
      <th width="19%">Date</th>
      <th width="19%">Time</th>
      <th width="19%">RSSI</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let zone of zoneNeightbourList; let i = index">
      <td>{{i+1}}</td>
      <td>{{zone?.deviceName}}</td>
      <td>{{zone?.zoneMacAddress}}</td>
      <td>{{zone?.firstName+" " + zone?.lastName}}</td>
      <td>{{getZoneDate(zone?.date) | date:'MMM d, y'}}</td>
      <td>{{getZoneDate(zone?.date) | date: 'h:mm a'}}</td>
      <td>{{zone?.rssi}}</td>
    </tr>
    </tbody>
  </table>
  <div class="loading-data" *ngIf="zoneNeightbourList.length == 0">
    <div>{{loadingMessage}}</div>
  </div>
</div>
<div class="pagination">
  <div *ngIf="zoneNeightbourList.length > 0 &&  totalRecords > pageDefaultSize">
    <mat-paginator [length]="totalRecords"
                   [pageSize]="pageSize"
                   [pageSizeOptions]="pageArray"
                   (page)="onPageChange($event)">
    </mat-paginator>
  </div>
</div>
