/*Dashboard page scss start*/
.dashboard-box {
  padding: 1rem;
  min-height: 7rem;

  &__icon {
    color: $blue-color;
    font-size: 3.2rem;
    margin-top: 0.7rem;
  }
}

.loading-data {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.fixed-panel {
  position: fixed;
  background: $white-color;
  left: 27rem;
  top: 12.5rem;
  background: white;
  width: calc(100% - 28rem);
  height: calc(100% - 19rem);
  overflow-x: hidden;
  overflow-y: auto;
}

.pagination {
  position: fixed;
  width: calc(100% - 28rem);
  bottom: 1.5rem;
  height: 5rem;
  background: $white-color;
  mat-paginator {
    border-top: .1rem solid $light-grey-color-2;
  }
}

.secondary-color.uppercase {
  line-height: 4rem;
}
