.login-box {
  @include position-values(fixed, 50%, 50%, auto, 40rem);
  transform: translate(-50%, -50%);

  &__image {
    text-align: center;
    margin-bottom: 1rem;
    img {
      width: 20rem;
    }
  }

  &__body {

  }

  &__footer {
    text-align: center;
    div {
      &:first-child {
        margin-bottom: 1.5rem;
      }

      &:last-child {
        a {
          margin-right: 1rem;
        }
      }
    }
  }

  /*color bg*/
  &--color {
    @include login-box($white-color, dark-color($secondary-color, 35%));
  }
}

.login-bg-white{
  padding: 2rem;
  background: $white-color;
  @include box-shadow;

  h1{
    font-weight: 500;
  }
}

.login-bg{
  @include position-values(fixed, 0, 0, 100%, 100%, #fefdf4);
  z-index: -1;
}

.copyright{
  font-size: 1.2rem;
}
