<!--breadcrumb-->
<div class="secondary-color uppercase MB10">dashboard</div>

<!--zone list-->
<div>
  <div class="row">
    <div class="col-1-of-4" *ngFor="let zone of zoneList; let i = index">
      <a (click)="onZoneGrid(zone)">
        <div class="dashboard-box white-background">
          <div class="row">
            <div class="col-1-of-3 text-center">
              <i class="fa fa-users dashboard-box__icon"></i>
            </div>
            <div class="col-2-of-3">
              <div>{{zone?.name}}</div>
              <small>{{zone?.count}} Devices</small>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
