<!--breadcrumb-->
<div class="row">
  <div class="col-1-of-2">
    <div class="secondary-color uppercase"><a (click)="onDevice()">device</a> > <span class="light-grey-color">{{selectedDevice?.name}}</span></div>
  </div>

  <!--<div class="col-1-of-2 text-right">
    <button type="button" class="btn btn-add-zone">
      <i class="fa fa-plus"></i> Add Device
    </button>
  </div>-->
</div>

<!--device grid-->
<div class="fixed-panel">
  <table class="table table--no-bordered" *ngIf="deviceNeightbourList.length > 0">
    <thead>
    <tr>
      <th width="10%">Sr. No</th>
      <th width="12%">Zone Name</th>
      <th width="17%">Sender Device Name</th>
      <th width="15%">Sender Name</th>
      <th width="14%">Date</th>
      <th width="14%">Time</th>
      <th width="18%">Sender Device MAC Addree</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let device of deviceNeightbourList; let i = index">
        <td>{{i + 1}}</td>
        <td>{{device?.zoneName}}</td>
        <td>{{device?.senderDeviceName}}</td>
        <td>{{device?.senderFirtName + " " + device?.senderLastName}}</td>
        <td>{{getZoneDate(zone?.date) | date:'MMM d, y'}}</td>
        <td>{{getZoneDate(zone?.date) | date: 'h:mm a'}}</td>
        <td>{{device?.senderDeviceMacAddress}}</td>
      </tr>
    </tbody>
  </table>
  <div class="loading-data" *ngIf="deviceNeightbourList.length == 0">
    <div>{{loadingMessage}}</div>
  </div>
</div>
<div class="pagination">
  <div *ngIf="deviceNeightbourList.length > 0 &&  totalRecords > pageDefaultSize">
    <mat-paginator [length]="totalRecords"
                   [pageSize]="pageSize"
                   [pageSizeOptions]="pageArray"
                   (page)="onPageChange($event)">
    </mat-paginator>
  </div>
</div>
