<div class="header">

  <!--header brand logo-->
  <div class="header__logo">
    <a> <img src="assets/images/logo-white.png" width="120" alt=""> </a>
  </div>

  <!--header left side links-->
  <div class="header__left">
    <ul>
      <li></li>
    </ul>
  </div>

  <!--header right side links-->
  <div class="header__right">
    <ul>
      <li>
        <a (click)="isDropdown = !isDropdown">
          <img src="assets/images/profile.jpg"/> John Doe
          <i class="fa fa-chevron-down drop"></i>
        </a>
      </li>
    </ul>
  </div>
</div>

<!--Profile and logout Dropdown-->
<div *ngIf="isDropdown" class="dropdown">
  <ul>
    <li><a>Profile</a></li>
    <li><a (click)="onLogout()">Logout</a></li>
  </ul>
</div>

<!--Close dropdown-->
<div (click)="isDropdown = false;" class="white-fixed-layer" *ngIf="isDropdown"></div>


<!--Sidebar HTML start-->
<div class="sidebar">
  <ul>
    <li>
      <a routerLinkActive="active" [routerLink]="dashboardUrl">
        <i class="fa fa-home sidebar__icon"></i>
        Dashboard
      </a>
    </li>
    <li>
      <a routerLinkActive="active" [routerLink]="zonesUrl">
        <i class="fa fa-compass sidebar__icon"></i> Zones
      </a>
    </li>
    <li>
      <a routerLinkActive="active" [routerLink]="devicesUrl">
        <i class="fa fa-laptop sidebar__icon"></i> Devices
      </a>
    </li>
    <li>
      <a routerLinkActive="active" [routerLink]="usersUrl">
        <i class="fa fa-user sidebar__icon"></i> Users
      </a>
    </li>
  </ul>
</div>
