.header {
  @include position-values(fixed, 0, 0, $header-size, 100%, $primary-color);
  padding: 0 1.5rem;
  z-index: z('HEADER');

  li {
    a {
      line-height: $header-size;
      color: $white-color;

      font-size: 1.6rem;

      &.active{
        font-weight: 600;
      }
    }

    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }

  &__left, &__right {
    width: 50%;
    float: left;
  }

  &__logo {
    line-height: $header-size;

    @include position-values(absolute, 0, 0, $header-size, 25rem, $secondary-color);
    text-align: center;

    img {
      vertical-align: middle;
    }
  }

  &__left {
    padding-left: 20rem;
  }

  &__right {
    text-align: right;
    li {
      a {
        position: relative;
        display: block;

        img {
          width: header-profile($header-size, 2rem);

          @include image-rounded;
          border: .2rem solid $white-color;
          vertical-align: middle;
        }
        .drop {
          font-size: 1.2rem;
          margin-left: .5rem;
        }
      }
    }

    &__badge {
      width: 2.5rem;
      text-align: center;
      span {
        @include position-values(absolute, 1.2rem, 1.2rem, 1.6rem, 1.6rem, $red-color);
        @include border-radius(50%);
        line-height: 1.6rem;
        text-align: center;
        font: {
          size: 1.2rem;
          weight: bold;
        }
      }
    }
  }

  &--white {
    background: $white-color;
    box-shadow: 2px 2px 5px $light-grey-color-1;

    li {
      a {
        color: $primary-color;

        &:hover {
          color: dark-color($primary-color, 30%);
        }
      }
    }

    &__right {
      &__badge {
        span{
          color: $white-color;
        }
      }
    }
  }
}
