@charset "UTF-8";
/* You can add global styles to this file, and also import other style files */
/*For clearfix*/
/*basic transition*/
/*For border radius*/
/*position*/
/*buttons*/
/*borders*/
/*border bottom*/
/*before icons*/
/*file selection image  change*/
/*image rounded*/
/*box shadow*/
/*box shadow none*/
/*placeholder*/
/*form field focus*/
/*color login box*/
/*icon rotate*/
/*user select none*/
/*responsive media queries*/
@import url(../node_modules/font-awesome/css/font-awesome.css);
@import url(~@angular/material/prebuilt-themes/indigo-pink.css);
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

*:focus {
  outline: none; }

html {
  font-size: 10px; }

body {
  box-sizing: border-box; }

ul li {
  list-style: none;
  display: inline-block; }

a {
  cursor: pointer; }
  a:hover {
    color: #c4e538; }

h1, h2, h3, h4, h5, h6, img, ul, li {
  margin: 0;
  padding: 0; }

select::-ms-expand {
  display: none; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

table {
  border-collapse: collapse; }

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.6;
  background: #f6f8fa; }

.white-background {
  padding: 2rem; }

.P0 {
  padding: 0 !important; }

/*text transform*/
.uppercase {
  text-transform: uppercase !important; }

.lowercase {
  text-transform: lowercase !important; }

.capitalize {
  text-transform: capitalize !important; }

/*text alignments*/
.text-left {
  text-align: left !important; }

.text-right {
  text-align: right !important; }

.text-center {
  text-align: center !important; }

.text-justify {
  text-align: justify !important; }

/*status colors and background*/
/*status colors*/
.primary-color {
  color: #c4e538 !important; }

/*background colors*/
.primary-background {
  background: #c4e538 !important; }

/*border colors*/
.primary-border {
  border-color: #c4e538 !important; }

/*status colors*/
.secondary-color {
  color: #b7d82a !important; }

/*background colors*/
.secondary-background {
  background: #b7d82a !important; }

/*border colors*/
.secondary-border {
  border-color: #b7d82a !important; }

/*status colors*/
.tertiary-color {
  color: #2bbbad !important; }

/*background colors*/
.tertiary-background {
  background: #2bbbad !important; }

/*border colors*/
.tertiary-border {
  border-color: #2bbbad !important; }

/*status colors*/
.red-color {
  color: #ff3547 !important; }

/*background colors*/
.red-background {
  background: #ff3547 !important; }

/*border colors*/
.red-border {
  border-color: #ff3547 !important; }

/*status colors*/
.green-color {
  color: #1da955 !important; }

/*background colors*/
.green-background {
  background: #1da955 !important; }

/*border colors*/
.green-border {
  border-color: #1da955 !important; }

/*status colors*/
.orange-color {
  color: #ffb463 !important; }

/*background colors*/
.orange-background {
  background: #ffb463 !important; }

/*border colors*/
.orange-border {
  border-color: #ffb463 !important; }

/*status colors*/
.dark-grey-color {
  color: #333333 !important; }

/*background colors*/
.dark-grey-background {
  background: #333333 !important; }

/*border colors*/
.dark-grey-border {
  border-color: #333333 !important; }

/*status colors*/
.light-grey-color {
  color: #999999 !important; }

/*background colors*/
.light-grey-background {
  background: #999999 !important; }

/*border colors*/
.light-grey-border {
  border-color: #999999 !important; }

/*status colors*/
.white-color {
  color: white !important; }

/*background colors*/
.white-background {
  background: white !important; }

/*border colors*/
.white-border {
  border-color: white !important; }

/*border*/
.top-border {
  border-top: 0.1rem solid #c4e538; }

.left-border {
  border-left: 0.1rem solid #c4e538; }

.right-border {
  border-right: 0.1rem solid #c4e538; }

.bottom-border {
  border-bottom: 0.1rem solid #c4e538; }

/*border color*/
.border {
  border: .1rem solid; }

.no-border {
  border-color: transparent; }

/*layers*/
.white-fixed-layer {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: transparent;
  z-index: 1; }

/*vertical alignment*/
.vertical-top {
  vertical-align: top !important; }

.vertical-middle {
  vertical-align: middle !important; }

.vertical-bottom {
  vertical-align: bottom !important; }

.vertical-baseline {
  vertical-align: baseline !important; }

.vertical-text-top {
  vertical-align: text-top !important; }

.vertical-text-bottom {
  vertical-align: text-bottom !important; }

.vertical-sup {
  vertical-align: sup !important; }

.vertical-sub {
  vertical-align: sub !important; }

/*block element*/
.block {
  display: block !important; }

.inline-block {
  display: inline-block !important; }

/*border radius*/
.rounded {
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  border-radius: 0.5rem; }

.rounded-circle {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%; }

.no-rounded {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }

/*body scroll fix*/
.scroll-hide {
  overflow: hidden; }

/*validation*/
.validation-group {
  line-height: 1.2rem; }
  .validation-group span {
    color: #ff3547;
    font-size: 1.2rem; }
  .validation-group validation + validation {
    display: none; }

/*spacing*/
.MT0 {
  margin-top: 0px !important; }

.PT0 {
  padding-top: 0px !important; }

.ML0 {
  margin-left: 0px !important; }

.PL0 {
  padding-left: 0px !important; }

.MR0 {
  margin-right: 0px !important; }

.PR0 {
  padding-right: 0px !important; }

.MB0 {
  margin-bottom: 0px !important; }

.PB0 {
  padding-bottom: 0px !important; }

.MT5 {
  margin-top: 5px !important; }

.PT5 {
  padding-top: 5px !important; }

.ML5 {
  margin-left: 5px !important; }

.PL5 {
  padding-left: 5px !important; }

.MR5 {
  margin-right: 5px !important; }

.PR5 {
  padding-right: 5px !important; }

.MB5 {
  margin-bottom: 5px !important; }

.PB5 {
  padding-bottom: 5px !important; }

.MT10 {
  margin-top: 10px !important; }

.PT10 {
  padding-top: 10px !important; }

.ML10 {
  margin-left: 10px !important; }

.PL10 {
  padding-left: 10px !important; }

.MR10 {
  margin-right: 10px !important; }

.PR10 {
  padding-right: 10px !important; }

.MB10 {
  margin-bottom: 10px !important; }

.PB10 {
  padding-bottom: 10px !important; }

.MT15 {
  margin-top: 15px !important; }

.PT15 {
  padding-top: 15px !important; }

.ML15 {
  margin-left: 15px !important; }

.PL15 {
  padding-left: 15px !important; }

.MR15 {
  margin-right: 15px !important; }

.PR15 {
  padding-right: 15px !important; }

.MB15 {
  margin-bottom: 15px !important; }

.PB15 {
  padding-bottom: 15px !important; }

.MT20 {
  margin-top: 20px !important; }

.PT20 {
  padding-top: 20px !important; }

.ML20 {
  margin-left: 20px !important; }

.PL20 {
  padding-left: 20px !important; }

.MR20 {
  margin-right: 20px !important; }

.PR20 {
  padding-right: 20px !important; }

.MB20 {
  margin-bottom: 20px !important; }

.PB20 {
  padding-bottom: 20px !important; }

.MT25 {
  margin-top: 25px !important; }

.PT25 {
  padding-top: 25px !important; }

.ML25 {
  margin-left: 25px !important; }

.PL25 {
  padding-left: 25px !important; }

.MR25 {
  margin-right: 25px !important; }

.PR25 {
  padding-right: 25px !important; }

.MB25 {
  margin-bottom: 25px !important; }

.PB25 {
  padding-bottom: 25px !important; }

.MT30 {
  margin-top: 30px !important; }

.PT30 {
  padding-top: 30px !important; }

.ML30 {
  margin-left: 30px !important; }

.PL30 {
  padding-left: 30px !important; }

.MR30 {
  margin-right: 30px !important; }

.PR30 {
  padding-right: 30px !important; }

.MB30 {
  margin-bottom: 30px !important; }

.PB30 {
  padding-bottom: 30px !important; }

.MT35 {
  margin-top: 35px !important; }

.PT35 {
  padding-top: 35px !important; }

.ML35 {
  margin-left: 35px !important; }

.PL35 {
  padding-left: 35px !important; }

.MR35 {
  margin-right: 35px !important; }

.PR35 {
  padding-right: 35px !important; }

.MB35 {
  margin-bottom: 35px !important; }

.PB35 {
  padding-bottom: 35px !important; }

.MT40 {
  margin-top: 40px !important; }

.PT40 {
  padding-top: 40px !important; }

.ML40 {
  margin-left: 40px !important; }

.PL40 {
  padding-left: 40px !important; }

.MR40 {
  margin-right: 40px !important; }

.PR40 {
  padding-right: 40px !important; }

.MB40 {
  margin-bottom: 40px !important; }

.PB40 {
  padding-bottom: 40px !important; }

.MT45 {
  margin-top: 45px !important; }

.PT45 {
  padding-top: 45px !important; }

.ML45 {
  margin-left: 45px !important; }

.PL45 {
  padding-left: 45px !important; }

.MR45 {
  margin-right: 45px !important; }

.PR45 {
  padding-right: 45px !important; }

.MB45 {
  margin-bottom: 45px !important; }

.PB45 {
  padding-bottom: 45px !important; }

.MT50 {
  margin-top: 50px !important; }

.PT50 {
  padding-top: 50px !important; }

.ML50 {
  margin-left: 50px !important; }

.PL50 {
  padding-left: 50px !important; }

.MR50 {
  margin-right: 50px !important; }

.PR50 {
  padding-right: 50px !important; }

.MB50 {
  margin-bottom: 50px !important; }

.PB50 {
  padding-bottom: 50px !important; }

.MT60 {
  margin-top: 60px !important; }

.PT60 {
  padding-top: 60px !important; }

.ML60 {
  margin-left: 60px !important; }

.PL60 {
  padding-left: 60px !important; }

.MR60 {
  margin-right: 60px !important; }

.PR60 {
  padding-right: 60px !important; }

.MB60 {
  margin-bottom: 60px !important; }

.PB60 {
  padding-bottom: 60px !important; }

.MT70 {
  margin-top: 70px !important; }

.PT70 {
  padding-top: 70px !important; }

.ML70 {
  margin-left: 70px !important; }

.PL70 {
  padding-left: 70px !important; }

.MR70 {
  margin-right: 70px !important; }

.PR70 {
  padding-right: 70px !important; }

.MB70 {
  margin-bottom: 70px !important; }

.PB70 {
  padding-bottom: 70px !important; }

.MT80 {
  margin-top: 80px !important; }

.PT80 {
  padding-top: 80px !important; }

.ML80 {
  margin-left: 80px !important; }

.PL80 {
  padding-left: 80px !important; }

.MR80 {
  margin-right: 80px !important; }

.PR80 {
  padding-right: 80px !important; }

.MB80 {
  margin-bottom: 80px !important; }

.PB80 {
  padding-bottom: 80px !important; }

.MT90 {
  margin-top: 90px !important; }

.PT90 {
  padding-top: 90px !important; }

.ML90 {
  margin-left: 90px !important; }

.PL90 {
  padding-left: 90px !important; }

.MR90 {
  margin-right: 90px !important; }

.PR90 {
  padding-right: 90px !important; }

.MB90 {
  margin-bottom: 90px !important; }

.PB90 {
  padding-bottom: 90px !important; }

.MT100 {
  margin-top: 100px !important; }

.PT100 {
  padding-top: 100px !important; }

.ML100 {
  margin-left: 100px !important; }

.PL100 {
  padding-left: 100px !important; }

.MR100 {
  margin-right: 100px !important; }

.PR100 {
  padding-right: 100px !important; }

.MB100 {
  margin-bottom: 100px !important; }

.PB100 {
  padding-bottom: 100px !important; }

/*float*/
.left {
  float: left !important; }

@media (max-width: 600px) {
  .xs-left {
    float: left !important; } }
@media (max-width: 900px) {
  .sm-left {
    float: left !important; } }
.right {
  float: right !important; }

@media (max-width: 600px) {
  .xs-right {
    float: right !important; } }
@media (max-width: 900px) {
  .sm-right {
    float: right !important; } }
.none {
  float: none !important; }

@media (max-width: 600px) {
  .xs-none {
    float: none !important; } }
@media (max-width: 900px) {
  .sm-none {
    float: none !important; } }
/*clearfix*/
.clearfix::after {
  content: "";
  display: table;
  clear: both; }

/*icon open close*/
.icon-open {
  -webkit-transition: 0.2s all ease-in;
  -moz-transition: 0.2s all ease-in;
  -o-transition: 0.2s all ease-in;
  transition: 0.2s all ease-in; }

.icon-close {
  -webkit-transition: 0.2s all ease-in;
  -moz-transition: 0.2s all ease-in;
  -o-transition: 0.2s all ease-in;
  transition: 0.2s all ease-in;
  transform: rotateX(180deg) translateY(-2px); }

.btn {
  -webkit-transition: 0.2s all ease-in;
  -moz-transition: 0.2s all ease-in;
  -o-transition: 0.2s all ease-in;
  transition: 0.2s all ease-in;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  border-radius: 0.3rem;
  color: white;
  box-shadow: none;
  cursor: pointer;
  padding: 1rem 4rem;
  border: none;
  text-transform: uppercase;
  font-family: inherit;
  font-size: 1.4rem;
  font-weight: 500; }

.btn-primary {
  background: #c4e538; }
  .btn-primary:disabled {
    background: #cae84c; }
    .btn-primary:disabled:hover {
      background: #cae84c; }
  .btn-primary:hover {
    background: #b0ce32; }

.btn-primary-outline {
  background: transparent;
  color: #c4e538;
  border: 0.2rem solid #c4e538;
  padding: .8rem 3rem; }
  .btn-primary-outline:disabled {
    border-color: #cde956;
    color: #cde956; }
    .btn-primary-outline:disabled:hover {
      border-color: #cde956;
      color: #cde956; }
  .btn-primary-outline:hover {
    border-color: #a7c330;
    color: #a7c330; }

.btn-secondary {
  background: #b7d82a; }
  .btn-secondary:disabled {
    background: #bedc3f; }
    .btn-secondary:disabled:hover {
      background: #bedc3f; }
  .btn-secondary:hover {
    background: #a5c226; }

.btn-secondary-outline {
  background: transparent;
  color: #b7d82a;
  border: 0.2rem solid #b7d82a;
  padding: .8rem 3rem; }
  .btn-secondary-outline:disabled {
    border-color: #c2de4a;
    color: #c2de4a; }
    .btn-secondary-outline:disabled:hover {
      border-color: #c2de4a;
      color: #c2de4a; }
  .btn-secondary-outline:hover {
    border-color: #9cb824;
    color: #9cb824; }

.btn-tertiary {
  background: #2bbbad; }
  .btn-tertiary:disabled {
    background: #40c2b5; }
    .btn-tertiary:disabled:hover {
      background: #40c2b5; }
  .btn-tertiary:hover {
    background: #27a89c; }

.btn-tertiary-outline {
  background: transparent;
  color: #2bbbad;
  border: 0.2rem solid #2bbbad;
  padding: .8rem 3rem; }
  .btn-tertiary-outline:disabled {
    border-color: #4bc5b9;
    color: #4bc5b9; }
    .btn-tertiary-outline:disabled:hover {
      border-color: #4bc5b9;
      color: #4bc5b9; }
  .btn-tertiary-outline:hover {
    border-color: #259f93;
    color: #259f93; }

.btn-success {
  background: #1da955; }
  .btn-success:disabled {
    background: #34b266; }
    .btn-success:disabled:hover {
      background: #34b266; }
  .btn-success:hover {
    background: #1a984d; }

.btn-success-outline {
  background: transparent;
  color: #1da955;
  border: 0.2rem solid #1da955;
  padding: .8rem 3rem; }
  .btn-success-outline:disabled {
    border-color: #3fb66f;
    color: #3fb66f; }
    .btn-success-outline:disabled:hover {
      border-color: #3fb66f;
      color: #3fb66f; }
  .btn-success-outline:hover {
    border-color: #199048;
    color: #199048; }

.btn-warn {
  background: #ffb463; }
  .btn-warn:disabled {
    background: #ffbc73; }
    .btn-warn:disabled:hover {
      background: #ffbc73; }
  .btn-warn:hover {
    background: #e6a259; }

.btn-warn-outline {
  background: transparent;
  color: #ffb463;
  border: 0.2rem solid #ffb463;
  padding: .8rem 3rem; }
  .btn-warn-outline:disabled {
    border-color: #ffbf7a;
    color: #ffbf7a; }
    .btn-warn-outline:disabled:hover {
      border-color: #ffbf7a;
      color: #ffbf7a; }
  .btn-warn-outline:hover {
    border-color: #d99954;
    color: #d99954; }

.btn-danger {
  background: #ff3547; }
  .btn-danger:disabled {
    background: #ff4959; }
    .btn-danger:disabled:hover {
      background: #ff4959; }
  .btn-danger:hover {
    background: #e63040; }

.btn-danger-outline {
  background: transparent;
  color: #ff3547;
  border: 0.2rem solid #ff3547;
  padding: .8rem 3rem; }
  .btn-danger-outline:disabled {
    border-color: #ff5363;
    color: #ff5363; }
    .btn-danger-outline:disabled:hover {
      border-color: #ff5363;
      color: #ff5363; }
  .btn-danger-outline:hover {
    border-color: #d92d3c;
    color: #d92d3c; }

.btn-cancel {
  background: #999999;
  color: #333333; }
  .btn-cancel:disabled {
    background: #a3a3a3; }
    .btn-cancel:disabled:hover {
      background: #a3a3a3; }
  .btn-cancel:hover {
    background: #8a8a8a; }

.btn-cancel-outline {
  background: transparent;
  color: #999999;
  border: 0.2rem solid #999999;
  padding: .8rem 3rem; }
  .btn-cancel-outline:disabled {
    border-color: #a8a8a8;
    color: #a8a8a8; }
    .btn-cancel-outline:disabled:hover {
      border-color: #a8a8a8;
      color: #a8a8a8; }
  .btn-cancel-outline:hover {
    border-color: #828282;
    color: #828282; }

.btn-white {
  background: white;
  color: #333333; }
  .btn-white:disabled {
    background: white; }
    .btn-white:disabled:hover {
      background: white; }
  .btn-white:hover {
    background: #e6e6e6; }

.btn-white-outline {
  background: transparent;
  color: white;
  border: 0.2rem solid white;
  padding: .8rem 3rem; }
  .btn-white-outline:disabled {
    border-color: white;
    color: white; }
    .btn-white-outline:disabled:hover {
      border-color: white;
      color: white; }
  .btn-white-outline:hover {
    border-color: #d9d9d9;
    color: #d9d9d9; }

/*rounded buttons*/
.btn-rounded {
  -webkit-border-radius: 2.5rem;
  -moz-border-radius: 2.5rem;
  border-radius: 2.5rem; }

/*flat button*/
.btn-flat {
  background: transparent;
  border: .2rem solid transparent;
  color: black;
  padding: .8rem 3rem; }
  .btn-flat:hover {
    color: gray !important; }

/*gradient button*/
.btn-gradient {
  background: linear-gradient(40deg, #c4e538, #b7d82a) !important;
  border-width: .2rem; }

/*sizes button*/
.btn-lg {
  font-size: 1.8rem;
  padding: 1.2rem 3.2rem; }

.btn-sm {
  font-size: 1rem;
  padding: .8rem 2.8rem; }

/*block button*/
.btn-block {
  width: 100%; }

/*icons buttons*/
.btn-icons i {
  font-size: 1.2rem;
  margin-right: .5rem; }

/*icons animation button*/
.btn-animation-icons i {
  -webkit-transition: 0.2s all ease-in;
  -moz-transition: 0.2s all ease-in;
  -o-transition: 0.2s all ease-in;
  transition: 0.2s all ease-in;
  margin-left: .5rem;
  font-size: 1.2rem;
  position: relative;
  left: 0; }
.btn-animation-icons:hover i {
  left: 1rem; }

/*disabled button*/
.btn:disabled {
  cursor: not-allowed; }

.btn-add-zone {
  color: #333333;
  background: #d6ed74;
  font-size: 1.3rem;
  padding: 1rem 2rem !important; }
  .btn-add-zone i {
    margin-right: .5rem; }

.table {
  width: 100%;
  /*table without border*/
  /*table bordered*/
  /*table thead*/
  /*table striped*/
  /*table striped with border*/
  /*table center*/
  /*table hover*/
  /*table searchable*/
  /*table sorting*/
  /*table expandable*/
  /*table horizontol scroll*/ }
  .table thead {
    border-bottom: 0.1rem solid #d7d7d7; }
    .table thead th {
      padding: 1.3rem 1rem;
      text-align: left;
      font-weight: 500; }
      .table thead th:first-child {
        padding-left: 2.5rem; }
  .table tbody tr {
    border-bottom: 0.1rem solid #999999; }
    .table tbody tr td {
      padding: 1.3rem 1rem;
      color: #333333;
      white-space: normal;
      word-break: break-all; }
      .table tbody tr td:first-child {
        padding-left: 2.5rem; }
      .table tbody tr td:last-child a {
        margin-right: .7rem; }
        .table tbody tr td:last-child a:first-child {
          color: #c4e538; }
        .table tbody tr td:last-child a:last-child {
          color: #ff3547; }
    .table tbody tr:last-child {
      border-bottom: 0; }
  .table--no-bordered tbody tr {
    border-bottom: 0; }
  .table--bordered th, .table--bordered td {
    border: 0.1rem solid #999999; }
  .table--head thead {
    background: #c4e538; }
    .table--head thead th {
      color: white; }
  .table--striped tbody tr {
    border-bottom: 0; }
    .table--striped tbody tr:nth-child(odd) {
      background: #ececec; }
  .table--striped-border tbody tr {
    border-bottom: 0.1rem solid #999999; }
    .table--striped-border tbody tr:last-child {
      border-bottom: 0; }
  .table--center thead th {
    text-align: center; }
  .table--center tbody td {
    text-align: center; }
  .table--hover tbody tr:hover {
    background: #ececec; }
  .table--searchable__row div.basic-select, .table--searchable__row div.basic-input {
    width: 90%;
    margin-bottom: 0;
    height: initial; }
    .table--searchable__row div.basic-select input, .table--searchable__row div.basic-select select, .table--searchable__row div.basic-input input, .table--searchable__row div.basic-input select {
      margin-top: 0 !important; }
    .table--searchable__row div.basic-select select .basic-select__bg, .table--searchable__row div.basic-input select .basic-select__bg {
      height: 2.9rem;
      top: 0; }
  .table--sorting .sort-icon {
    font-size: 1rem !important;
    margin-left: .5rem; }
  .table--sorting .sort {
    color: #c4e538; }
  .table--expandable tbody tr .icon-open {
    font-size: 1.2rem; }
  .table--expandable tbody tr:not(:nth-of-type(n + 2)) {
    border-bottom: 0.1rem solid #999999 !important;
    display: flex;
    cursor: pointer; }
  .table--expandable tbody tr:nth-of-type(n + 2) {
    background: #cccccc; }
    .table--expandable tbody tr:nth-of-type(n + 2) div {
      padding: 1rem; }
  .table--expandable tbody:last-child tr {
    border-bottom: 0 !important; }
  .table--expandable__open td {
    color: #c4e538 !important; }
  .table--horizontal-scroll {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden; }
  .table--horizontal-scroll .table {
    width: 170rem; }

.radio-group {
  display: inline-block; }
  .radio-group li {
    cursor: pointer;
    margin-right: 2rem;
    position: relative; }
    .radio-group li input[type="radio"] {
      display: none; }
      .radio-group li input[type="radio"]:checked ~ label {
        color: #c4e538; }
        .radio-group li input[type="radio"]:checked ~ label span {
          border-color: #c4e538; }
          .radio-group li input[type="radio"]:checked ~ label span::after {
            opacity: 1;
            background: #c4e538; }
    .radio-group li label {
      cursor: pointer;
      color: #333333;
      font-size: 1.6rem;
      padding-left: 2rem; }
      .radio-group li label span {
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        position: absolute;
        top: 0.6rem;
        left: -0.1rem;
        height: 1.4rem;
        width: 1.4rem;
        background: "";
        border: 0.2rem solid #333333;
        display: inline-block; }
        .radio-group li label span::after {
          position: absolute;
          top: 0.2rem;
          left: 0.2rem;
          height: 0.6rem;
          width: 0.6rem;
          background: #333333;
          -webkit-transition: 0.2s all ease-in;
          -moz-transition: 0.2s all ease-in;
          -o-transition: 0.2s all ease-in;
          transition: 0.2s all ease-in;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          content: "";
          display: block;
          opacity: 0; }

.checkbox-group {
  display: inline-block;
  position: relative; }
  .checkbox-group input[type="checkbox"] {
    display: none; }
    .checkbox-group input[type="checkbox"]:checked ~ label span {
      background: #c4e538;
      border-color: #c4e538; }
      .checkbox-group input[type="checkbox"]:checked ~ label span::after {
        opacity: 1; }
  .checkbox-group label {
    cursor: pointer;
    color: #333333;
    padding-left: 3rem;
    display: table-cell;
    font-size: 1.6rem;
    font-weight: 400; }
    .checkbox-group label span {
      border: 0.2rem solid #333333;
      position: absolute;
      top: 0.5rem;
      left: -0.1rem;
      height: 1.8rem;
      width: 1.8rem;
      background: "";
      display: inline-block; }
      .checkbox-group label span::after {
        color: white;
        content: "";
        -webkit-transition: 0.2s all ease-in;
        -moz-transition: 0.2s all ease-in;
        -o-transition: 0.2s all ease-in;
        transition: 0.2s all ease-in;
        position: absolute;
        top: -0.2rem;
        left: 0;
        height: "";
        width: "";
        background: "";
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        font-family: 'FontAwesome';
        font-size: 1.3rem;
        font-weight: bold;
        display: block;
        opacity: 0; }

/*extends*/
.color-form-group, .attachment, .basic-input .fa-paperclip, .basic-input.no-label .fa-paperclip, .basic-select.no-label .fa-paperclip, .basic-input label, .basic-select label, .basic-input .required:before, .icons-textarea i.fa, .icons-group i.fa {
  color: #999999; }

.attachment, .basic-input .fa-paperclip, .basic-input.no-label .fa-paperclip, .basic-select.no-label .fa-paperclip {
  z-index: -1;
  position: absolute;
  right: 1rem;
  font-size: 1.8rem; }

/*common*/
.basic-input, .basic-select {
  display: block;
  width: 100%;
  margin-bottom: 2.5rem;
  height: 6rem;
  position: relative; }
  .basic-input label, .basic-select label {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 1.6rem; }
  .basic-input .mat-icon-button, .basic-select .mat-icon-button {
    position: absolute;
    right: 0;
    top: 20px;
    color: #d7d7d7; }

/*basic input*/
.basic-input input::-webkit-input-placeholder, .basic-input textarea::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: "#a9a9a9" !important; }
.basic-input input::-moz-placeholder, .basic-input textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: "#a9a9a9" !important; }
.basic-input input:-ms-input-placeholder, .basic-input textarea:-ms-input-placeholder {
  /* IE 10+ */
  color: "#a9a9a9" !important; }
.basic-input input:-moz-placeholder, .basic-input textarea:-moz-placeholder {
  /* Firefox 18- */
  color: "#a9a9a9" !important; }
.basic-input input::placeholder, .basic-input textarea::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: "#a9a9a9" !important;
  opacity: 1;
  /* Firefox */ }
.basic-input input[type="text"], .basic-input input[type="password"], .basic-input textarea {
  width: 100%;
  background: transparent;
  padding: 1rem 0;
  border: none;
  text-align: left;
  margin-top: 1.9rem;
  font-family: inherit;
  font-weight: 400;
  font-size: 1.6rem;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-bottom: 0.1rem solid #d7d7d7;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  border-radius: 0.3rem; }
  .basic-input input[type="text"]:focus, .basic-input input[type="password"]:focus, .basic-input textarea:focus {
    border-color: #c4e538; }
    .basic-input input[type="text"]:focus + label, .basic-input input[type="password"]:focus + label, .basic-input textarea:focus + label {
      color: #c4e538; }
      .basic-input input[type="text"]:focus + label::before, .basic-input input[type="password"]:focus + label::before, .basic-input textarea:focus + label::before {
        color: #c4e538; }
.basic-input .required:before {
  position: absolute;
  content: '*';
  right: -.8rem; }
.basic-input .fa-paperclip {
  top: 3.1rem; }

/*full border*/
.basic-input-border input[type="text"], .basic-input-border input[type="password"], .basic-input-border textarea {
  border: 0.1rem solid #d7d7d7;
  padding: 1rem; }

/*without label*/
.basic-input.no-label, .basic-select.no-label {
  height: 4.2rem; }
  .basic-input.no-label input[type="text"], .basic-input.no-label input[type="password"], .basic-input.no-label select, .basic-select.no-label input[type="text"], .basic-select.no-label input[type="password"], .basic-select.no-label select {
    margin-top: 0; }
  .basic-input.no-label .basic-select__bg, .basic-select.no-label .basic-select__bg {
    top: 0; }
  .basic-input.no-label .fa-paperclip, .basic-select.no-label .fa-paperclip {
    top: 1.3rem; }

.basic-select.no-label::before {
  top: 1rem; }

/*small input*/
.basic-input-sm {
  height: 4.8rem;
  margin-bottom: 2rem; }
  .basic-input-sm label {
    font-size: 1.2rem; }
  .basic-input-sm input[type="text"], .basic-input-sm input[type="password"] {
    padding: .5rem 0;
    font-size: 1.4rem; }

.basic-input-border.basic-input-sm input[type="text"], .basic-input-border.basic-input-sm input[type="password"], .basic-input-border.basic-input-sm select {
  padding: .5rem; }

/*small select*/
.basic-select-border.basic-select-sm {
  height: 4.8rem;
  margin-bottom: 2rem; }
  .basic-select-border.basic-select-sm label {
    font-size: 1.2rem; }
  .basic-select-border.basic-select-sm select {
    padding: .5rem;
    font-size: 1.4rem; }
  .basic-select-border.basic-select-sm:before {
    font-size: 1rem;
    top: .6rem; }

/*large input*/
.basic-input-lg {
  height: 7.2rem; }
  .basic-input-lg label {
    font-size: 1.6rem; }
  .basic-input-lg input[type="text"], .basic-input-lg input[type="password"] {
    padding: 1.5rem 0;
    font-size: 1.8rem; }

.basic-input-border.basic-input-lg input[type="text"], .basic-input-border.basic-input-lg input[type="password"] {
  padding: 1.5rem; }

/*basic textarea*/
.basic-textarea {
  height: 8.2rem; }
  .basic-textarea textarea {
    resize: none; }

/*no label textarea*/
.basic-textarea.textarea-no-label {
  height: 6.2rem; }
  .basic-textarea.textarea-no-label textarea {
    margin-top: 0; }

/*icons textarea*/
.icons-textarea textarea {
  padding-left: 2.5rem; }
.icons-textarea i.fa {
  position: absolute;
  left: 0;
  top: 3.3rem; }

.icons-textarea.basic-input-border textarea {
  padding-left: 3.5rem; }
.icons-textarea.basic-input-border i.fa {
  left: 1rem; }

/*horizontal textarea label*/
.horizontal-textarea {
  height: 6.4rem; }
  .horizontal-textarea label {
    display: inline-block;
    width: 15rem;
    position: relative;
    font-size: 1.6rem;
    vertical-align: top;
    margin-top: 1rem; }
  .horizontal-textarea textarea {
    display: inline-block;
    width: calc(100% - 15.4rem);
    margin-top: 0; }

/*select group*/
.basic-select select {
  width: 100%;
  margin-top: 1.9rem;
  position: relative;
  background: transparent;
  padding: 1rem .5rem;
  border: 0;
  cursor: pointer;
  font-family: inherit;
  font-size: 1.6rem;
  border-bottom: 0.1rem solid #999999; }
  .basic-select select:focus {
    border-color: #c4e538; }
    .basic-select select:focus + label {
      color: #c4e538; }
      .basic-select select:focus + label::before {
        color: #c4e538; }
.basic-select::before {
  color: #d7d7d7;
  position: absolute;
  content: "";
  font-family: 'FontAwesome';
  font-size: 1.4rem;
  top: 3rem;
  right: 1rem; }
.basic-select__bg {
  z-index: -1;
  position: absolute;
  height: 4.2rem;
  width: 100%;
  top: 1.9rem;
  background: transparent; }

/*full border*/
.basic-select-border select {
  border: 0.1rem solid #d7d7d7;
  padding: 1rem; }

/*icons input*/
.icons-group input[type="text"], .icons-group input[type="password"], .icons-group select {
  padding-left: 2.5rem; }
.icons-group i.fa {
  position: absolute;
  left: 0;
  bottom: 1.4rem;
  font-size: 1.6rem; }

.icons-group.basic-input-border input[type="text"], .icons-group.basic-input-border input[type="password"], .icons-group.basic-input-border select, .icons-group.basic-select-border input[type="text"], .icons-group.basic-select-border input[type="password"], .icons-group.basic-select-border select {
  padding-left: 3.5rem; }
.icons-group.basic-input-border i.fa, .icons-group.basic-select-border i.fa {
  left: 1rem; }

.h-label, .horizontal-group label, .horizontal-group-radio__label {
  display: inline-block;
  width: 15rem;
  position: relative;
  font-size: 1.6rem; }

.h-right, .horizontal-group input[type="text"], .horizontal-group input[type="password"], .horizontal-group select, .horizontal-group-radio ul {
  display: inline-block;
  width: calc(100% - 15.4rem);
  margin-top: 0; }

/*horizontal input*/
.horizontal-group {
  height: 4.2rem; }
  .horizontal-group::before {
    top: 1rem; }
  .horizontal-group .basic-select__bg {
    width: calc(100% - 15.4rem);
    right: 0;
    top: 0; }

/*file selection with button*/
.file-selection-left button, .file-selection-right button {
  width: 17rem;
  display: inline-block; }
.file-selection-left > div, .file-selection-right > div {
  width: calc(100% - 17.5rem);
  display: inline-block; }

.file-selection-left > div {
  padding-left: 2rem; }

.file-selection-right > div {
  padding-right: 2rem; }

/*file selection with image*/
.picture-upload {
  height: 15rem;
  width: 15rem;
  position: relative;
  display: inline-block; }
  .picture-upload img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    height: 15rem;
    width: 15rem;
    border: 0.2rem solid #999999; }
  .picture-upload__hover {
    -webkit-transition: 0.2s all ease-in;
    -moz-transition: 0.2s all ease-in;
    -o-transition: 0.2s all ease-in;
    transition: 0.2s all ease-in;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    text-align: center;
    display: none; }
    .picture-upload__hover .fa {
      color: white;
      font-size: 2.6rem;
      line-height: 15rem; }
  .picture-upload:hover .picture-upload__hover {
    display: block; }

/*horizontal radio*/
.horizontal-group-radio {
  display: block; }

.modal {
  z-index: 2;
  position: fixed;
  top: auto;
  left: calc(50% - 25rem);
  height: auto;
  width: 50rem;
  background: white;
  opacity: 0; }
  .modal__close {
    color: white;
    position: absolute;
    right: 2.5rem;
    top: 1.4rem;
    font-size: 2rem;
    font-weight: normal; }
    .modal__close a:hover {
      color: #e6e6e6; }
  .modal__header {
    border-bottom: 0.1rem solid #d7d7d7; }
    .modal__header h3 {
      background: #c4e538;
      color: white;
      height: 6rem;
      line-height: 4rem;
      padding: 1rem 2rem;
      font-weight: 500; }
  .modal__body {
    margin-top: 2rem;
    padding: 1.5rem 2.5rem; }
    .modal__body h3 {
      font-weight: normal; }
  .modal__footer {
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-align: center; }
    .modal__footer .btn-primary {
      margin-left: 1rem; }
  .modal--small {
    width: 35rem;
    left: calc(50% - 17.5rem);
    padding: 1rem 1.5rem; }
    .modal--small .modal__close {
      font-size: 1.4rem;
      top: 1.3rem;
      right: 2rem; }
    .modal--small .btn {
      padding: .5rem 1.5rem; }
  .modal--large {
    width: 80rem;
    left: calc(50% - 40rem);
    padding: 1rem 1.5rem; }

.modal-layer {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6); }

.switch {
  position: relative;
  top: auto;
  left: auto;
  height: 2rem;
  width: 4.6rem;
  background: auto;
  display: inline-block;
  /*rounded switch*/ }
  .switch input {
    display: none; }
    .switch input:checked + .switch__slider {
      background: #c4e538; }
      .switch input:checked + .switch__slider::before {
        -webkit-transform: translateX(2.6rem);
        -ms-transform: translateX(2.6rem);
        transform: translateX(2.6rem); }
  .switch__slider {
    -webkit-transition: 0.2s all ease-in;
    -moz-transition: 0.2s all ease-in;
    -o-transition: 0.2s all ease-in;
    transition: 0.2s all ease-in;
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    width: auto;
    background: #ccc;
    cursor: pointer;
    right: 0;
    bottom: 0; }
    .switch__slider::before {
      -webkit-transition: 0.2s all ease-in;
      -moz-transition: 0.2s all ease-in;
      -o-transition: 0.2s all ease-in;
      transition: 0.2s all ease-in;
      position: absolute;
      top: auto;
      left: 0.4rem;
      height: 1.2rem;
      width: 1.2rem;
      background: white;
      content: "";
      bottom: .4rem; }
  .switch--round {
    border-radius: 2rem; }
    .switch--round::before {
      border-radius: 50%; }

div.dropdown {
  z-index: 2;
  box-shadow: 0 0 10.7px 0.8px rgba(0, 0, 0, 0.08);
  position: fixed;
  top: 6rem;
  left: calc(100% - 18rem);
  height: auto;
  width: 17rem;
  background: white; }
  div.dropdown ul {
    padding: 1rem; }
    div.dropdown ul li {
      display: block;
      text-align: left; }
      div.dropdown ul li a {
        color: #333333;
        display: block;
        padding: .6rem;
        font-size: 1.6rem;
        line-height: 2.6rem; }
        div.dropdown ul li a:hover {
          color: #c4e538; }

.accordion-main {
  margin-bottom: 1rem; }
  .accordion-main__head a {
    cursor: pointer;
    display: block;
    position: relative;
    background: white;
    padding: 1rem;
    color: #333333; }
    .accordion-main__head a h3 {
      display: inline-block; }
    .accordion-main__head a .icon-open {
      position: absolute;
      right: 1rem;
      top: 1.5rem; }
  .accordion-main__body {
    background: white;
    padding: 1rem; }

.tab-main__head ul a {
  color: #333333;
  display: inline-block;
  padding: 1rem;
  min-width: 9rem;
  text-align: center;
  font-weight: 600;
  position: relative;
  top: 1px; }
  .tab-main__head ul a.active {
    color: black;
    background: white;
    border-bottom-color: white !important;
    border: 0.1rem solid #999999; }
.tab-main__body {
  background: white;
  border: 0.1rem solid #999999;
  padding: 1rem; }

.stepper__head ul li {
  text-align: center;
  position: relative;
  width: calc(33.33% - 0.4rem); }
  .stepper__head ul li a {
    color: #333333;
    display: inline-block; }
    .stepper__head ul li a:hover, .stepper__head ul li a.active {
      color: #c4e538; }
    .stepper__head ul li a.active .stepper__icon {
      background: #c4e538;
      color: white; }
  .stepper__head ul li:after {
    z-index: -1;
    position: absolute;
    top: 2rem;
    left: calc(50% + 3.1rem);
    height: 0.1rem;
    width: calc(100% - 6.2rem);
    background: #999999;
    content: ''; }
  .stepper__head ul li:last-child:after {
    display: none; }
  .stepper__head ul li.active:after {
    background: #c4e538; }
.stepper__head__icon {
  background: #999999;
  line-height: 4rem !important;
  height: 4rem;
  width: 4rem;
  display: block !important;
  text-align: center;
  border-radius: 2rem;
  margin: 0 auto; }

.row {
  max-width: 100%;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 1rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 2rem; }
  .row .col-1-of-2 {
    width: calc((100% - 2rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 2rem) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 2rem) / 4); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 2rem) / 3) + 2rem); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 2rem) / 4) + 2rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 2rem) / 4) + 2 * 2rem); }

.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 6rem;
  width: 100%;
  background: #c4e538;
  padding: 0 1.5rem;
  z-index: 1; }
  .header li a {
    line-height: 6rem;
    color: white;
    font-size: 1.6rem; }
    .header li a.active {
      font-weight: 600; }
  .header li:not(:last-child) {
    margin-right: 1.5rem; }
  .header__left, .header__right {
    width: 50%;
    float: left; }
  .header__logo {
    line-height: 6rem;
    position: absolute;
    top: 0;
    left: 0;
    height: 6rem;
    width: 25rem;
    background: #b7d82a;
    text-align: center; }
    .header__logo img {
      vertical-align: middle; }
  .header__left {
    padding-left: 20rem; }
  .header__right {
    text-align: right; }
    .header__right li a {
      position: relative;
      display: block; }
      .header__right li a img {
        width: 4rem;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        border: 0.2rem solid white;
        vertical-align: middle; }
      .header__right li a .drop {
        font-size: 1.2rem;
        margin-left: .5rem; }
    .header__right__badge {
      width: 2.5rem;
      text-align: center; }
      .header__right__badge span {
        position: absolute;
        top: 1.2rem;
        left: 1.2rem;
        height: 1.6rem;
        width: 1.6rem;
        background: #ff3547;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        line-height: 1.6rem;
        text-align: center;
        font-size: 1.2rem;
        font-weight: bold; }
  .header--white {
    background: white;
    box-shadow: 2px 2px 5px #999999; }
    .header--white li a {
      color: #c4e538; }
      .header--white li a:hover {
        color: #89a027; }
    .header--white__right__badge span {
      color: white; }

.sidebar {
  -webkit-transition: 0.2s all ease-in;
  -moz-transition: 0.2s all ease-in;
  -o-transition: 0.2s all ease-in;
  transition: 0.2s all ease-in;
  position: fixed;
  top: 6rem;
  left: 0;
  height: calc(100% - 6rem);
  width: 25rem;
  background: white;
  overflow-x: hidden;
  overflow-y: auto;
  /*hover sidebar*/
  /*small sidebar*/
  /*hide sidebar*/ }
  .sidebar li {
    display: block;
    position: relative; }
    .sidebar li a {
      color: #999999;
      text-decoration: none;
      display: block;
      padding: 1.5rem 2rem;
      font-size: 1.4rem;
      font-weight: 500;
      white-space: nowrap; }
      .sidebar li a:hover {
        color: #333333; }
      .sidebar li a.active {
        color: #333333; }
      .sidebar li a.menu-open {
        background: #b0ce32; }
        .sidebar li a.menu-open .sidebar__down {
          -webkit-transition: 0.2s all ease-in;
          -moz-transition: 0.2s all ease-in;
          -o-transition: 0.2s all ease-in;
          transition: 0.2s all ease-in;
          transform: rotateX(180deg) translateY(-2px); }
    .sidebar li ul li a {
      padding: .5rem .5rem .5rem 4rem;
      font-size: 1.4rem; }
  .sidebar__icon {
    margin-right: 1rem;
    font-size: 1.8rem;
    min-width: 2rem; }
  .sidebar__notification {
    position: absolute;
    top: 1.5rem;
    left: auto;
    height: 2rem;
    width: 2rem;
    background: #ffb463;
    color: white;
    right: 1rem;
    text-align: center; }
  .sidebar__down {
    color: white;
    -webkit-transition: 0.2s all ease-in;
    -moz-transition: 0.2s all ease-in;
    -o-transition: 0.2s all ease-in;
    transition: 0.2s all ease-in;
    position: absolute;
    right: 1rem;
    top: 1.6rem;
    font-size: 1.2rem !important; }
  .sidebar--hover {
    left: -16rem; }
    .sidebar--hover__icon {
      margin-right: 0; }
    .sidebar--hover__title {
      margin-left: .5rem; }
    .sidebar--hover__small-menu {
      float: right;
      width: 4.2rem;
      display: inline-block;
      text-align: center; }
  .sidebar--small {
    width: 6.5rem; }
  .sidebar--icons li a {
    padding: 1rem 2rem; }
  .sidebar--hide {
    left: -25rem; }

.sidebar--move {
  left: 0; }

.admin-body {
  position: relative;
  margin: 8rem 3rem 0 27rem;
  width: calc(100% - 28rem); }

.footer {
  padding: 1rem 2rem;
  bottom: 0;
  position: fixed;
  top: auto;
  left: 0;
  height: auto;
  width: 100%;
  background: #c4e538;
  /*white footer*/ }
  .footer a, .footer p {
    color: white; }
  .footer li a:hover {
    color: #e6e6e6; }
  .footer li a.active {
    font-weight: 600; }
  .footer li:not(:last-child) {
    margin-right: 1rem; }
  .footer--white {
    background: white;
    border-top: 0.1rem solid #999999; }
    .footer--white a, .footer--white p {
      color: #c4e538; }
    .footer--white li a:hover {
      color: #89a027; }

.login-box {
  position: fixed;
  top: 50%;
  left: 50%;
  height: auto;
  width: 40rem;
  background: "";
  transform: translate(-50%, -50%);
  /*color bg*/ }
  .login-box__image {
    text-align: center;
    margin-bottom: 1rem; }
    .login-box__image img {
      width: 20rem; }
  .login-box__footer {
    text-align: center; }
    .login-box__footer div:first-child {
      margin-bottom: 1.5rem; }
    .login-box__footer div:last-child a {
      margin-right: 1rem; }
  .login-box--color {
    padding: 0; }
    .login-box--color [class*='-background'] {
      padding: 2rem; }
      .login-box--color [class*='-background'] .basic-input input::-webkit-input-placeholder, .login-box--color [class*='-background'] .basic-input textarea::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: white !important; }
      .login-box--color [class*='-background'] .basic-input input::-moz-placeholder, .login-box--color [class*='-background'] .basic-input textarea::-moz-placeholder {
        /* Firefox 19+ */
        color: white !important; }
      .login-box--color [class*='-background'] .basic-input input:-ms-input-placeholder, .login-box--color [class*='-background'] .basic-input textarea:-ms-input-placeholder {
        /* IE 10+ */
        color: white !important; }
      .login-box--color [class*='-background'] .basic-input input:-moz-placeholder, .login-box--color [class*='-background'] .basic-input textarea:-moz-placeholder {
        /* Firefox 18- */
        color: white !important; }
      .login-box--color [class*='-background'] .basic-input input::placeholder, .login-box--color [class*='-background'] .basic-input textarea::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: white !important;
        opacity: 1;
        /* Firefox */ }
      .login-box--color [class*='-background'] .basic-input input[type="text"], .login-box--color [class*='-background'] .basic-input input[type="password"] {
        color: white;
        border-bottom: 0.1rem solid white; }
        .login-box--color [class*='-background'] .basic-input input[type="text"]:focus, .login-box--color [class*='-background'] .basic-input input[type="password"]:focus {
          border-color: #778c1b; }
          .login-box--color [class*='-background'] .basic-input input[type="text"]:focus + label, .login-box--color [class*='-background'] .basic-input input[type="password"]:focus + label {
            color: #778c1b; }
            .login-box--color [class*='-background'] .basic-input input[type="text"]:focus + label::before, .login-box--color [class*='-background'] .basic-input input[type="password"]:focus + label::before {
              color: #778c1b; }
      .login-box--color [class*='-background'] .basic-input label {
        color: white; }
      .login-box--color [class*='-background'] .basic-input .required::before {
        color: white; }
      .login-box--color [class*='-background'] a {
        color: white; }
        .login-box--color [class*='-background'] a:hover {
          color: #778c1b; }

.login-bg-white {
  padding: 2rem;
  background: white;
  box-shadow: 0 0 10.7px 0.8px rgba(0, 0, 0, 0.08); }
  .login-bg-white h1 {
    font-weight: 500; }

.login-bg {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #fefdf4;
  z-index: -1; }

.copyright {
  font-size: 1.2rem; }

/*Dashboard page scss start*/
.dashboard-box {
  padding: 1rem;
  min-height: 7rem; }
  .dashboard-box__icon {
    color: #34495e;
    font-size: 3.2rem;
    margin-top: 0.7rem; }

.loading-data {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; }

.fixed-panel {
  position: fixed;
  background: white;
  left: 27rem;
  top: 12.5rem;
  background: white;
  width: calc(100% - 28rem);
  height: calc(100% - 19rem);
  overflow-x: hidden;
  overflow-y: auto; }

.pagination {
  position: fixed;
  width: calc(100% - 28rem);
  bottom: 1.5rem;
  height: 5rem;
  background: white; }
  .pagination mat-paginator {
    border-top: 0.1rem solid #d7d7d7; }

.secondary-color.uppercase {
  line-height: 4rem; }

/*# sourceMappingURL=styles.css.map */
